# Ignore data files
data/raw/
data/processed/
db/*.duckdb

# Ignore system files
*.pyc
__pycache__/

# Ignore virtualenv
venv/
.env

# Ignore Airflow 
airflow/logs/
airflow/*.pid
airflow/airflow.db
# Ignore Jupyter Notebook checkpoints
notebooks/

# Ignore test files
tests/
# Ignore scripts
scripts/
# Ignore Docker files
docker-compose.yml
Dockerfile
# Ignore postgreSQL files
posgres-data/
# Ignore logs
logs/
